*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom properties */

:root {
  /* --ff-primary: "Source Sans Pro", sans-serif; */
  /* --ff-secondary: "Source Code Pro", monospace; */
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  /* --clr-dark: #6d6875; */
  --clr-dark: #2a2344;
  --clr-accent: #e5989b;

  --fs-h1: 3rem;
  --fs-h2: 2.75rem;
  --fs-h3: 1.7rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (max-width: 800px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 0.85rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: var(--clr-light);

  background-image: url(../img/makeup&costumes/bones01.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center -10em;
  background-attachment: fixed;

  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 2px solid var(--clr-accent);
  outline-offset: 2px;
}

@media (max-width: 800px) {
  body {
    background-position: center -3em;
    /* background-repeat: repeat; */
    background-size: cover;
  }
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .btn {
    font-size: 0.7rem;
  }
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
  text-align: center;
  color: var(--clr-light);
}

.section__title--intro strong {
  color: var(--clr-accent);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.section__subtitle__subtitle--work {
  margin-bottom: 0.25em;
}

/* header */

header {
  justify-content: space-between;
  padding: 1em;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-accent);
  text-align: center;
}

.logo {
  max-width: 120px;
  padding-left: 20px;
  padding-right: 20px;
  /* margin: 0 auto; */
}

.nav {
  color: var(--clr-light);
}

.nav__list {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav__item {
  display: inline-block;
  padding: 1em;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

@media (max-width: 800px) {
  .nav__list {
    padding-left: 0;
  }

  .nav__link {
    font-size: var(--fs-body);
  }
}

/* Intro Section */

.intro {
  position: relative;
}

.column {
  float: left;
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.iframe__wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
  /* padding-top: 1em; */
  /* height: 0; */
  width: 100%;
  overflow: hidden;
  /* line-height: 0; */
  /* max-width: 1120px;
  max-height: 630px; */
}

.iframe__wrapper iframe {
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* My services section */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(../img/angrycupcake.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
  padding-bottom: 15em;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

/* pseudo element for bar below What I do */
.section__title--services::after {
  content: "";
  display: block;
  width: 10em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services__column {
  float: left;
  width: 50%;
  /* display: flex; */
}

.services {
  margin-bottom: 2em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  padding: 0.25em 1em;
}

@media (max-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Who I am section */

.about-me {
  max-width: 1000px;
  margin: 1em auto 10em auto;
  width: 100%;
  color: var(--clr-light);
}

.about-me__img {
  box-shadow: var(--bs);
  max-width: 50%;
}

.about-me__body {
  font-weight: var(--fw-bold);
  background: rgba(42, 35, 68, 0.7);
  padding: 0 1.5em;
  padding-top: 0.25em;
}

.about-me__accordion {
  /* margin: 0 0.5em; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me__accordion__button {
  display: inline-block;
  padding: 0.5em 2.5em;
  max-width: 20em;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.about-me__accordion__button:hover {
  transform: scale(1.05);
}

.about-me__accordion__button::after {
  content: "\25be";
  float: right;
  transform: scale(1.8);
}

.about-me__accordion__button--active {
  background: var(--clr-light);
  color: var(--clr-accent);
}
.about-me__accordion__button--active::after {
  content: "\25b4";
}

.about-me__accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title title"
      "subtitle subtitle"
      "text text";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    background: var(--clr-accent);
    color: var(--clr-light);
    grid-area: subtitle;
    /* position: relative;
    left: -1em;
    width: calc(100% + 2em); */
    padding-left: 1em;
  }

  .about-me__body {
    grid-area: text;
  }

  .about-me__img {
    grid-row: 1 / -1;
    grid-column: 2;
    position: relative;
    z-index: 2;
  }

  .about-me__accordion__button {
    font-size: 0.7rem;
  }
}

/* My Work */

.my-work {
  /* background-color: var(--clr-dark); */
  color: var(--clr-light);
  text-align: center;
  position: relative;
  padding-bottom: 20em;
  min-height: 100vh;
}

.accordion {
  margin: 1em 0.5em;
}

.accordion__button {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin-top: 0.5em;
}

.accordion__button:hover {
  transform: scale(1.05);
}

.accordion__button::after {
  content: "\25be";
  float: right;
  transform: scale(1.8);
}

.accordion__button--active {
  background: var(--clr-light);
  color: var(--clr-accent);
}
.accordion__button--active::after {
  content: "\25b4";
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__title__img--container {
  overflow: hidden;
  /* margin: 0 auto; */
}

.portfolio__img--container {
  overflow: hidden;
  /* margin: 0 auto; */
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;
}

.portfolio__img {
  background: var(--clr-accent);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  max-width: 20em;
  overflow: hidden;
  margin: 0 auto;
  width: 100% !important;
  height: auto !important;
}

.portfolio__title__img--container--portrait {
  overflow: hidden;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
  box-shadow: var(--bs);
}

.portfolio__img--portrait {
  background: var(--clr-accent);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  max-width: 20em;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.portfolio__title__img--container--landscape {
  overflow: hidden;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
  box-shadow: var(--bs);
}

.portfolio__img--landscape {
  background: var(--clr-accent);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  max-width: 20em;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.portfolio__img--grid {
  background: var(--clr-accent);
  /* overflow: hidden; */
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  /* max-width: 10em; */
  width: 100% !important;
  height: auto !important;
}

.portfolio__img--grid:hover {
  cursor: zoom-in;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__img--portrait:hover,
.portfolio__img--landscape:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .accordion__button {
    font-size: --var(fs-h3);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--clr-light);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 1em 0;
  font-size: var(--fs-h3);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
